<div>
  <h3>Add new contact</h3>
</div>

<form action="/addcontact" method="post">
  <div>
    <label for="name">Name:
      <input name="name" id="name">
    </label>
  </div>
  <div>
    <label for="phone">Phone Number:
      <input name="phonenumber" id="phonenumber">
    </label>
  </div>
  <div>
    <label for="email">Email:
      <input name="email" id="email">
    </label>
  </div>
  <div>
    <label for="category">Category:
      <input name="category" id="category">
    </label>
  </div>
  <div>
    <button type="submit">Add Contact</button>
  </div>
</form>