<div>
  <form action="/sign_in" method="post">
    <p> Please sign in:</p>
    <div>
      <label for="username">Username:
        <input name="username" id="username">
      </label>
    </div>
    <div>
      <label for="password">Password:
        <input name="password" id="password">
      </label>
    </div>
    <div>
      <button type="submit">Sign in!</button>
    </div>
  </form>
</div>